* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f2f4f7;
  color: #333;
  line-height: 1.6;
}


nav {
  background: #0a3d62;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

nav a:hover {
  text-decoration: underline;
}
.photo{
    width: 180px;
    border-radius: 25px;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #0a3d62, #1e90ff);
  color: white;
}

.profile-box {
  width: 120px;
  height: 120px;
  border: 2px dashed rgba(255,255,255,0.7);
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  max-width: 900px;
  margin: auto;
  padding: 50px 20px;
}

.section h2 {
  color: #0a3d62;
  margin-bottom: 15px;
}

.light {
  background: white;
  border-radius: 10px;
}


.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skills span {
  background: #0a3d62;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
}


.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.project {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.project h3 {
  margin-bottom: 10px;
}


footer {
  text-align: center;
  background: #0a3d62;
  color: white;
  padding: 20px;
  margin-top: 40px;
}